*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color:rgb(231, 186, 194)
}
.header {
    width: 100%;
    height: 120px;
    display: block;
    background-color:  rgb(226, 162, 173); 
}
.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color:  rgb(226, 162, 173);
}
.logo_container{
    height:100%;
    display: table;
    float: left;
}
.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Qwitcher Grypen';
    font-size: 70px;
    background-color:  rgb(226, 162, 173);
} 
.navigation {
    float: right;
    height: 100%;
}
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    background-color:  rgb(226, 162, 173);
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-size: 16px;
    font-family: 'Playfair Display';
    font-size: 20px;
    background-color:  rgb(226, 162, 173);
}

.home1 {
    position: fixed;
    left: 80px;
    top: 200px;
}
.para1 {
    color: white;
    position: fixed;
    left: 40%;
    width: 50%;
    top: 280px;
    font-family: 'Playfair Display';
    font-size: 25px;
}
.natural1 {
    position: fixed;
    left: 80px;
    top: 180px;

}

.para2 {
    color: white;
    position: fixed;
    left: 67%;
    width: 50%;
    top: 180px;
    font-family: 'Playfair Display';
    font-size: 25px;
}
.para3 {
  color: white;
  position: fixed;
  left: 60%;
  width: 40%;
  top: 235px;
  font-family: 'Playfair Display';
  font-size: 20px;
}

.dramatic {
    position: fixed;
    left: 80px;
    top: 450px;
}

.para4 {
  color: white;
  position: fixed;
  left: 68%;
  width: 40%;
  top: 450px;
  font-family: 'Playfair Display';
  font-size: 25px;
}
.para5 {
  color: white;
  position: fixed;
  left: 60%;
  width: 40%;
  top: 505px;
  font-family: 'Playfair Display';
  font-size: 20px;
}